<div class="flex flex-col flex-auto min-w-0">

    <p-toast></p-toast>

    <!-- Menu -->
    <div class="flex flex-col shadow bg-card">
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">

                <button mat-button [color]="'primary'" class="sm:inline-block text-secondary rounded-lg" [matMenuTriggerFor]="controlMenu">Inicio</button>
                <mat-menu #controlMenu="matMenu" [xPosition]="'after'">
                    <button mat-menu-item [routerLink]="['../../../']">
                        <mat-icon [svgIcon]="'mat_solid:menu_open'"></mat-icon>Volver al Menu Principal
                    </button>

                    <button mat-menu-item
                            [routerLink]="['/system/human-talent/modules/processes/ticket-request/summative-processes']">
                        <mat-icon [svgIcon]="'mat_solid:airplane_ticket'"></mat-icon>Procesos Sumarios
                    </button>
                </mat-menu>

            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-8xl mx-auto p-6 sm:p-8">

        <!-- Column -->
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 w-full min-w-0">
            <!-- Tree -->
            <boby-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6">

                <div class="flex items-start justify-between">
                    <div class="text-xl font-semibold tracking-tight leading-6 truncate">ORGANIGRAMA</div>

                    <mat-form-field [matTooltip]="'Nombre Cargo, Nro. Item, Nombre Funcionario'"
                        class="boby-mat-no-subscript boby-mat-dense w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                        [floatLabel]="'always'">
                        <mat-icon
                            matPrefix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input
                            [formControl]="searchInputControl"
                            placeholder="Buscar Unidad"
                            matInput
                            #query>
                    </mat-form-field>

                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="orgaMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #orgaMenu="matMenu">
                            <button mat-menu-item (click)="refreshOrgChart()">Actualizar Organigrama</button>
                            <button mat-menu-item (click)="deleteSelection()">Quitar Selección</button>
                        </mat-menu>
                    </div>
                </div>

                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                        <button mat-icon-button disabled></button>

                        <mat-icon  class="mat-icon-rtl-mirror" *ngIf="!node.expandable">
                            {{'person'}}
                        </mat-icon>
                        <mat-checkbox color="primary" class="checklist-leaf-node"
                                      [checked]="checklistSelection.isSelected(node)"
                                      (change)="todoLeafItemSelectionToggle(node, $event.checked)">{{node.item.nombre_unidad}}</mat-checkbox>
                    </mat-tree-node>

                    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                        <button mat-icon-button disabled></button>
                        <mat-form-field appearance="fill">
                            <mat-label>New item...</mat-label>
                            <input matInput #itemValue placeholder="Ex. Lettuce">
                        </mat-form-field>
                        <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
                    </mat-tree-node>

                    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>

                        <mat-icon  class="mat-icon-rtl-mirror" *ngIf="node.expandable">
                            {{'groups'}}
                        </mat-icon>

                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.item"
                                (click)="loadChildren(node)">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)"
                                      [indeterminate]="descendantsPartiallySelected(node)"
                                      (change)="todoItemSelectionToggle(node, $event.checked)">{{node.item.nombre_unidad}}</mat-checkbox>
                        <!--<button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>-->
                        <mat-progress-bar *ngIf="node.isLoading"
                                          mode="indeterminate"
                                          class="example-tree-progress-bar"></mat-progress-bar>
                    </mat-tree-node>

                </mat-tree>
            </boby-card>

            <!-- List -->
            <boby-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6">

                <div class="flex items-start justify-between">
                    <div class="text-xl font-semibold tracking-tight leading-6 truncate">LISTA CARGOS SELECCIONADOS </div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="listMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #listMenu="matMenu">
                            <!--<button mat-menu-item>Guardar Lista</button>-->
                            <button mat-menu-item>Quitar Lista</button>
                            <button mat-menu-item (click)="seeHistory()">Ver Historial</button>
                        </mat-menu>

                    </div>
                </div>

                <!--<mat-selection-list #selectionList >
                    <mat-list-option color="primary" *ngFor="let unit of selectedUnits" [selected]="true">
                        {{unit.nombre_unidad}} ({{unit.codigo}})
                    </mat-list-option>
                </mat-selection-list>-->
                <!-- Task -->
                <ng-container *ngFor="let unit of selectedUnits; let first = first; trackBy: trackByFn">
                    <div class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover">

                        <!-- Task content -->
                        <div class="relative flex items-center h-full pl-5">

                            <button class="mr-2 -ml-2.5 leading-none"
                                    mat-icon-button
                                    (click)="itenDeselected(unit)">
                                <ng-container>
                                    <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </ng-container>
                            </button>

                            <ng-container>
                                <span>{{unit.nombre_unidad}} ({{unit.codigo}})</span>
                            </ng-container>

                        </div>
                    </div>
                </ng-container>
            </boby-card>

        </div>

    </div>
</div>
