<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Actions -->
        <div class="flex shrink-0 items-end mt-1 sm:mt-0 sm:ml-4">

            <p-toast></p-toast>

            <!-- Search -->
            <mat-form-field class="boby-mat-dense boby-mat-no-subscript boby-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar motivo anulación'">
            </mat-form-field>
            <!-- Add motivo button -->
            <button
                class="ml-4 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Nuevo Motivo Anulación'"
                (click)="showNewCancellationDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                <!--<span class="ml-2 mr-1">Nuevo</span>-->
            </button>
            <button
                class="sm:inline-flex ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Exportar Registros'"
                (click)="exporter.exportTable('xlsx', {fileName:'Registros de Clientes'})">
                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>
            </button>
            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Actualizar'"
                (click)="refreshMotivo()">
                <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">
            <table mat-table [dataSource]="dataSource" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[]">

                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-32">Acciones</mat-header-cell>
                    <mat-cell (click)="selectedMotivo = row" *matCellDef="let row" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedMotivo }">
                        <button
                            class="ml-1 -mr-4"
                            mat-icon-button
                            [matMenuTriggerFor]="chatsHeaderMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                            <mat-menu #chatsHeaderMenu>
                                <button mat-menu-item
                                        (click)="executeCommand('editar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    Editar Motivo Anulación
                                </button>
                                <button mat-menu-item
                                        (click)="executeCommand('eliminar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    Eliminar Motivo Anulación
                                </button>
                                <!--<button mat-menu-item
                                        (click)="executeCommand('exportar')"
                                        [matMenuTriggerFor]="formatos">
                                    <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                                    Exportar Motivo Anulación
                                </button>-->
                            </mat-menu>

                            <mat-menu #formatos="matMenu">
                                <button mat-menu-item (click)="exporter.exportTable('xls', {fileName:'Datos Aterrizaje'})">XLS</button>
                                <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName:'Datos Aterrizaje'})">XLSX</button>
                                <button mat-menu-item (click)="exporter.exportTable('csv', {fileName:'Datos Aterrizaje'})">CSV</button>
                                <button mat-menu-item (click)="exporter.exportTable('json', {fileName:'Datos Aterrizaje'})">TXT</button>
                                <button mat-menu-item (click)="exporter.exportTable('txt', {fileName:'Datos Aterrizaje'})">JSON</button>
                            </mat-menu>

                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let row"
                              class="{{col.width}}"
                              (click)="selectedMotivo = row" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedMotivo }">
                        {{['fecha_reg','fecha_mod'].includes(col.field) ? (row[col.field] | date:'d/M/yyyy H:mm') : row[col.field] }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
    </div>
    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="pagination.length"
        [pageIndex]="pagination.page"
        [pageSize]="8"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"></mat-paginator>

</div>
