<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">OFICINA</div>
    <button
        mat-icon-button
        (click)="Close()"
        [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
</div>

<mat-dialog-content [formGroup]="OficinaForm">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden bg-blue-0 dark:bg-transparent">
                <div class="grid divide-x -m-6 ">
                    <div class="flex flex-col items-left justify-left p-6 sm:p-8">
                        <div class="text-5xl font-semibold leading-none tracking-tighter">

                            <mat-form-field class="w-full boby-mat-dense flex-auto">
                                <mat-label>Nombre</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                                <input matInput [formControlName]="'nombre'">
                            </mat-form-field>

                            <mat-form-field class="w-full boby-mat-dense flex-auto">
                                <mat-label>Codigo</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                                <input matInput [formControlName]="'codigo'">
                            </mat-form-field>

                            <mat-form-field class="w-full boby-mat-dense flex-auto">
                                <mat-label>Lugar</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                <input type="text"
                                       matInput
                                       [matAutocomplete]="lugar"
                                       (keyup)="searchLugar($event.target.value,'expedicion')"
                                       placeholder="Buscar lugar para la oficina ...."
                                       [formControlName]="'id_lugar'">
                                <mat-autocomplete autoActiveFirstOption
                                                  #lugar="matAutocomplete"
                                                  [displayWith]="getLugar.bind(this)">
                                    <mat-option *ngFor="let lugar of listaLugar" [value]="lugar.id_lugar">
                                        {{lugar.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                        </div>
                    </div>
                </div>

            </div>

            <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden bg-blue-0 dark:bg-transparent">
                <div class="grid divide-x -m-6">
                    <div class="flex flex-col items-left justify-left p-6 sm:p-8">
                        <div class="text-5xl font-semibold leading-none">

                            <mat-form-field class="w-full boby-mat-dense flex-auto">
                                <mat-label>Correo Oficina</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <input matInput [formControlName]="'correo_oficina'">
                            </mat-form-field>

                            <mat-form-field class="w-full boby-mat-dense flex-auto">
                                <mat-label>Aeropuerto</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                <mat-select [placeholder]="'Seleccione si es aeropuerto ....'" [formControlName]="'aeropuerto'">
                                    <mat-option [value]="'si'">si</mat-option>
                                    <mat-option [value]="'no'">no</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-full boby-mat-textarea flex-auto">
                                <mat-label>Dirección</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                                <textarea
                                    matInput
                                    [rows]="2"
                                    [formControlName]="'direccion'"></textarea>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!-- Cancel -->
    <button
        class="ml-auto rounded-lg"
        mat-button
        [matTooltip]="'Cancelar'"
        (click)="Close()">
        Cancelar
    </button>
    <!-- Save -->
    <button
        class="ml-2 rounded-lg"
        mat-flat-button
        [color]="'primary'"
        [disabled]="OficinaForm.invalid"
        [matTooltip]="'Guardar'"
        (click)="saveOficina()">
        Guardar
    </button>
</mat-dialog-actions>
