<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="boby-card-front">
        <ng-content select="[bobyCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="boby-card-back">
        <ng-content select="[bobyCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="boby-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[bobyCardExpansion]"></ng-content>
    </div>

</ng-container>
