<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Actions -->
        <div class="flex shrink-0 items-end mt-1 sm:mt-0 sm:ml-4">

            <p-toast position="center"></p-toast>

            <!-- Search -->
            <mat-form-field class="boby-mat-dense boby-mat-no-subscript boby-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar Categoria Ato'">
            </mat-form-field>
            <!-- Add motivo button -->
            <button
                class="ml-4 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Entidad'"
                (click)="openNew()">
                <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                <span class="hidden sm:inline-block ml-2 mr-1">Nuevo</span>
            </button>
            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Actualizar'"
                (click)="refreshAtoCategorie()">
                <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                <span class="hidden sm:inline-block ml-2 mr-1">Actualizar</span>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">
            <table mat-table [dataSource]="dataSource" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]">

                <ng-container matColumnDef="accion" sticky>
                    <mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-32">Acciones</mat-header-cell>
                    <mat-cell (click)="selectedAtoCategory = row" *matCellDef="let row" [ngClass]="{ 'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': row === selectedAtoCategory }" class="min-w-32">
                        <button
                            class="ml-1 -mr-4"
                            mat-icon-button
                            [matMenuTriggerFor]="chatsHeaderMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                            <mat-menu #chatsHeaderMenu>
                                <button mat-menu-item
                                        (click)="executeCommand('editar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    Editar Categoria Ato
                                </button>
                                <button mat-menu-item
                                        (click)="executeCommand('eliminar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    Eliminar Categoria Ato
                                </button>
                                <button mat-menu-item [matMenuTriggerFor]="formatos">
                                    <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                                    Exportar Categoria Ato a
                                </button>
                            </mat-menu>
                        </button>
                        <mat-menu #formatos="matMenu">
                            <button mat-menu-item (click)="exporter.exportTable('xls', {fileName:'Categoria Ato'})">XLS</button>
                            <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName:'Categoria Ato'})">XLSX</button>
                            <button mat-menu-item (click)="exporter.exportTable('csv', {fileName:'Categoria Ato'})">CSV</button>
                            <button mat-menu-item (click)="exporter.exportTable('json', {fileName:'Categoria Ato'})">TXT</button>
                            <button mat-menu-item (click)="exporter.exportTable('txt', {fileName:'Categoria Ato'})">JSON</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let row"
                              class="{{col.width}}"
                              (click)="selectedAtoCategory = row" [ngClass]="{ 'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': row === selectedAtoCategory }"
                    >
                        {{['startDate_yyyyMMdd','endDate_yyyyMMdd'].includes(col.field) ? (row[col.field] | date:'dd/MM/yyyy') : row[col.field] }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
    </div>
    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="pagination.length"
        [pageIndex]="pagination.page"
        [pageSize]="10"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

    <p-dialog [(visible)]="atoCategoryDialog"
              [style]="{width: '900px'}"
              header="CATEGORIA AEROPUERTO"
              [modal]="true"
              class="p-fluid"
              [maximizable]="true"
              [formGroup]="AtoCategoryForm">
        <ng-template pTemplate="content">

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden bg-blue-0 dark:bg-transparent">
                    <div class="grid border-t divide-x -m-6 ">
                        <div class="flex flex-col items-left justify-left p-6 sm:p-8">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">

                                <mat-form-field class="w-full boby-mat-dense flex-auto">
                                    <mat-label class="text-primary">Categoria</mat-label>
                                    <mat-icon
                                        matPrefix
                                        class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:qrcode'"></mat-icon>
                                    <mat-select [placeholder]="'Seleccione categoria....'" [formControlName]="'categorie'">
                                        <mat-option [value]="'I'">I</mat-option>
                                        <mat-option [value]="'II'">II</mat-option>
                                        <mat-option [value]="'III'">III</mat-option>
                                        <mat-option [value]="'IV'">IV</mat-option>
                                        <mat-option [value]="'V'">V</mat-option>
                                        <mat-option [value]="'VI'">VI</mat-option>
                                        <mat-option [value]="'VII'">VII</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="w-full boby-mat-dense flex-auto">
                                    <mat-label class="text-primary">Aeropuerto</mat-label>
                                    <mat-icon
                                        matSuffix
                                        class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                    <input type="text"
                                           matInput
                                           [matAutocomplete]="ato"
                                           (keyup)="searchAirport($event.target.value)"
                                           placeholder="Buscar Aeropuerto ..."
                                           [formControlName]="'atoId'">
                                    <mat-autocomplete autoActiveFirstOption
                                                      #ato="matAutocomplete"
                                                      [displayWith]="getAirPort.bind(this)">
                                        <mat-option *ngFor="let ato of filteredAirPort" [value]="ato.aeropuertoID">
                                            {{ato.nombreEstacion }} ({{ato.codEstacion}})
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden bg-blue-0 dark:bg-transparent">
                    <div class="grid border-t divide-x -m-6">
                        <div class="flex flex-col items-left justify-left p-6 sm:p-8">
                            <div class="text-5xl font-semibold leading-none">

                                <mat-form-field class="w-full flex-auto">
                                    <mat-label class="text-primary">Fecha Inicio</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="startDate"
                                        [formControlName]="'startDate_yyyyMMdd'"
                                        disabled>
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate disabled="false"></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="w-full flex-auto">
                                    <mat-label class="text-primary">Fecha Fin</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="endDate"
                                        [formControlName]="'endDate_yyyyMMdd'"
                                        disabled>
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate disabled="false"></mat-datepicker>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveAtoCategory()" [disabled]="AtoCategoryForm.invalid"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteAtoCategoryDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Esta seguro que desea eliminar la Entidad?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAtoCategoryDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>
</div>
