<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="flex flex-0 items-center justify-between h-8 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Historial Items</div>
    <button
        mat-icon-button
        (click)="Close()"
        [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
</div>
<mat-dialog-content>
    <!-- Main -->
    <div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent mt-4 sm:mt-5">

        <div class="flex flex-auto overflow-auto">
            <div class="flex flex-col flex-auto overflow-auto sm:overflow-y-auto">
                <table mat-table [dataSource]="items" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]">

                    <ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-32">
                            <div class="pr-2">
                                <button
                                    class="-mr-4"
                                    mat-icon-button
                                    [matMenuTriggerFor]="options">
                                    <mat-icon [svgIcon]="'arrow_drop_down_circle'"></mat-icon>
                                    <!--<mat-icon svgIcon="heroicons_outline:arrow-circle-down"></mat-icon>-->
                                    <mat-menu #options>
                                        <button mat-menu-item [matMenuTriggerFor]="columns">
                                            <mat-icon [svgIcon]="'view_column'"></mat-icon>
                                            columnas
                                        </button>
                                    </mat-menu>
                                </button>
                                <mat-menu #columns="matMenu">
                                    <mat-checkbox value="{{lc.field}}" [checked]="lc.checked" (change)="showOptions($event)"  class="mat-menu-item" *ngFor="let lc of listCheck">{{lc.header}}</mat-checkbox>
                                </mat-menu>
                            </div>
                            Acciones
                        </mat-header-cell>
                        <mat-cell (click)="selectedItem = row" *matCellDef="let row" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedItem }">

                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.width}}">{{col.header}}</mat-header-cell>
                        <mat-cell *matCellDef="let row"
                                  class="{{col.width}}"
                                  (click)="selectedItem = row" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedItem }">
                            {{['fecha_mod'].includes(col.field) ? (row[col.field] | date:'d/M/yyyy H:mm') : row[col.field] }}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </div>
        </div>
        <mat-paginator class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                       [ngClass]="{'pointer-events-none': isLoading}"
                       [length]="pagination.length"
                       [pageIndex]="pagination.page"
                       [pageSize]="5"
                       [pageSizeOptions]="pageSizeOptions"
                       [showFirstLastButtons]="true"></mat-paginator>
    </div>
</mat-dialog-content>
