<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Actions -->
        <div class="flex shrink-0 items-end mt-1 sm:mt-0 sm:ml-4">

            <p-toast></p-toast>

            <!-- Search -->
            <mat-form-field class="boby-mat-dense boby-mat-no-subscript boby-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar Item'">
            </mat-form-field>

            <button
                class="ml-4 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Nuevo Item'"
                (click)="createItem()">
                <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
            </button>
            <!--<button
                class="sm:inline-flex ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Exportar Registros'"
                (click)="exporter.exportTable('xlsx', {fileName:'Registros de Items'})">
                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>
                &lt;!&ndash;<span class="hidden sm:inline-block ml-2">Exportar</span>&ndash;&gt;
            </button>-->
            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Actualizar'"
                (click)="refreshItems('refresh')">
                <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-100 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex flex-auto overflow-auto">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">
                    <table mat-table [dataSource]="items" matSort (matSortChange)="sortData($event)" matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]">

                        <ng-container matColumnDef="accion">
                            <mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-24">Acciones</mat-header-cell>
                            <mat-cell (click)="redirect(row)" *matCellDef="let row" class="min-w-24" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedItem }">
                                <button
                                    class="ml-1 -mr-4"
                                    mat-icon-button
                                    [matMenuTriggerFor]="chatsHeaderMenu">
                                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                                    <mat-menu #chatsHeaderMenu>
                                        <button mat-menu-item [matMenuTriggerFor]="formatos">
                                            <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                                            Exportar Registros
                                        </button>
                                    </mat-menu>
                                </button>

                                <mat-menu #formatos="matMenu">
                                    <button mat-menu-item (click)="exporter.exportTable('xls', {fileName:'Registros de Pruebas Psico Activas'})">
                                        <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>XLS
                                    </button>
                                    <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName:'Registros de Pruebas Psico Activas'})">
                                        <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>XLSX
                                    </button>
                                    <button mat-menu-item (click)="exporter.exportTable('csv', {fileName:'Registros de Pruebas Psico Activas'})">
                                        <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_csv'"></mat-icon>CSV
                                    </button>
                                    <button mat-menu-item (click)="exporter.exportTable('txt', {fileName:'Registros de Pruebas Psico Activas'})">
                                        <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_txt'"></mat-icon>TXT
                                    </button>
                                    <button mat-menu-item (click)="exporter.exportTable('json', {fileName:'Registros de Pruebas Psico Activas'})">
                                        <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file'"></mat-icon>JSON
                                    </button>
                                </mat-menu>
                            </mat-cell>
                        </ng-container>

                        <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                      class="{{col.width}}"
                                      (click)="redirect(row)" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedItem }">
                                {{['fecha_reg','fecha_mod','fecha_ini','fecha_fin'].includes(col.field) ? (row[col.field] | date:'dd/MM/yyyy') :  row[col.field]}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </table>
                </div>

            </div>

            <mat-paginator
                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}"
                [length]="totalRows"
                [pageIndex]="currentPage"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"
                (page)="pageChanged($event)"></mat-paginator>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

