<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">

        <!-- Header -->
        <div class="relative w-full h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Cerrar'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Items -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{item?.acefalo?.charAt(0)}}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button
                            mat-stroked-button
                            (click)="toggleEditMode(true)">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Editar</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-lg font-bold truncate">{{item?.acefalo}}</div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-4">
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full flex-auto" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">TIPO CONTRATO</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.nombre_tipo_contrato}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full flex-auto" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">OFICINA</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.nombre_oficina}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="boby-mat-dense flex-auto w-full">
                                <mat-label class="leading-6 font-bold text-lg">NOMBRE CARGO</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.nombre}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="boby-mat-dense w-full flex-auto">
                                <mat-label class="leading-6 font-bold text-lg">ESCALA</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.nombre_escala}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">ITEM/CONTRATO</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>-->
                                    <div class="leading-6">{{item?.codigo}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">H. DESDE</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.fecha_ini | date:'d/M/yyyy'}}</div>
                                </div>
                            </div>

                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3 ml-2 sm:ml-4" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">H. HASTA</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>-->
                                    <div class="leading-6">{{item?.fecha_fin | date:'d/M/yyyy'}}</div>
                                </div>
                            </div>

                        </div>
                    </ng-container>
                </div>


                <div class="mt-3 text-lg font-bold truncate">DATOS PRESUPUESTO</div>
                <div class="flex flex-col mt-4 pt-6 border-t space-y-4">
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full flex-auto gt-xs:pr-3" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">GESTIÓN</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.fecha_ini_cc | date:'yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="boby-mat-no-subscript boby-mat-dense flex-auto w-full">
                                <mat-label class="leading-6 font-bold text-lg">CENTRO COSTO</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.codigo_cc}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="boby-mat-dense w-full flex-auto">
                                <mat-label class="leading-6 font-bold text-lg">ORDEN TRABAJO</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.desc_orden}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">PORCENTAJE</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>-->
                                    <div class="leading-6">{{item?.porcentaje}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Fields -->
                    <ng-container>
                        <div class="flex">
                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">APLICACIÓN</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:identification'"></mat-icon>-->
                                    <div class="leading-6">{{item?.fecha_ini_cc | date:'d/M/yyyy'}}</div>
                                </div>
                            </div>

                            <div class="w-full boby-mat-dense flex-auto gt-xs:pr-3 ml-2 sm:ml-4" appearance="fill">
                                <mat-label class="leading-6 font-bold text-lg">FINALIZACIÓN</mat-label>
                                <div class="flex sm:items-center text-primary">
                                    <!--<mat-icon [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>-->
                                    <div class="leading-6">{{item?.fecha_fin_cc | date:'d/M/yyyy'}}</div>
                                </div>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="relative w-full h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Cerrar'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-4">
            <div class="w-full max-w-3xl">
                <form [formGroup]="itemForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                {{item?.acefalo?.charAt(0)}}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-lg font-bold truncate">DATOS ITEM</div>
                    <!-- Fields -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">

                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Tipo Contrato</mat-label>
                                        <mat-select [placeholder]="'Tipo Contrato ....'"
                                                    [formControlName]="'id_tipo_contrato'"
                                                    [compareWith]="displayContract">
                                            <mat-option *ngFor="let contract of contractList" [value]="contract.id_tipo_contrato">
                                                {{contract.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Oficina</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="oficina"
                                               (keyup)="searchOffice($event.target.value)"
                                               placeholder="Oficina ...."
                                               [formControlName]="'id_oficina'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #oficina="matAutocomplete"
                                                          [displayWith]="getOffice.bind(this)">
                                            <mat-option *ngFor="let office of officeList" [value]="office.id_oficina">
                                                {{office.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Nombre Cargo</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="cargo"
                                               (keyup)="searchItem($event.target.value)"
                                               placeholder="Cargo ...."
                                               [formControlName]="'id_temporal_cargo'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #cargo="matAutocomplete"
                                                          [displayWith]="getItem.bind(this)">
                                            <mat-option *ngFor="let item of itemList" [value]="item.id_temporal_cargo">
                                                {{item.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">

                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Escala Salarial</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="escala"
                                               (keyup)="searchScale($event.target.value)"
                                               placeholder="Escala ...."
                                               [formControlName]="'id_temporal_cargo'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #escala="matAutocomplete"
                                                          [displayWith]="getScale.bind(this)">
                                            <mat-option *ngFor="let scale of scaleList" [value]="scale.id_escala_salarial">
                                                {{scale.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto" appearance="fill">
                                        <mat-label class="font-medium text-primary">Item</mat-label>
                                        <input matInput [formControlName]="'codigo'">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Habilitado Desde</mat-label>
                                        <input
                                            matInput
                                            [matDatepicker]="startDate"
                                            [placeholder]="'Habilitado Desde'"
                                            [formControlName]="'fecha_ini'">
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="startDate"></mat-datepicker-toggle>
                                        <mat-datepicker #startDate></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="boby-mat-dense w-full flex-auto ml-2">
                                        <mat-label class="font-medium text-primary">Habilitado Hasta</mat-label>
                                        <input
                                            matInput
                                            [matDatepicker]="endDate"
                                            [placeholder]="'Habilitado Hasta'"
                                            [formControlName]="'fecha_fin'">
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="endDate"></mat-datepicker-toggle>
                                        <mat-datepicker #endDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-3 text-lg font-bold truncate">DATOS PRESUPUESTO</div>
                    <!-- Fields -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">

                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Gestión</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="gestion"
                                               (keyup)="searchYear($event.target.value)"
                                               placeholder="Gestión ...."
                                               [formControlName]="'id_gestion'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #gestion="matAutocomplete"
                                                          [displayWith]="getYear.bind(this)">
                                            <mat-option *ngFor="let year of yearList" [value]="year.id_gestion">
                                                {{year.gestion}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="w-full boby-mat-dense flex-auto gt-xs:pr-3">
                                        <mat-label class="font-medium text-primary">Centro Costos</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="centro"
                                               (keyup)="searchCentro($event.target.value)"
                                               placeholder="Centro Costo ...."
                                               [formControlName]="'id_centro_costo'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #centro="matAutocomplete"
                                                          [displayWith]="getCentro.bind(this)">
                                            <mat-option *ngFor="let centro of centroList" [value]="centro.id_centro_costo">
                                                {{centro.codigo_cc}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Orden Trabajo</mat-label>
                                        <input type="text"
                                               matInput
                                               [matAutocomplete]="recepcion"
                                               (keyup)="searchOrden($event.target.value)"
                                               placeholder="Cargo ...."
                                               [formControlName]="'id_ot'">
                                        <mat-autocomplete autoActiveFirstOption
                                                          #recepcion="matAutocomplete"
                                                          [displayWith]="getOrden.bind(this)">
                                            <mat-option *ngFor="let office of officeList" [value]="office.id_oficina">
                                                {{office.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="w-full boby-mat-dense flex-auto gt-xs:pr-3" appearance="fill">
                                        <mat-label class="font-medium text-primary">Porcentaje</mat-label>
                                        <input matInput [formControlName]="'porcentaje'">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Fields -->
                    <div class="mt-1">
                        <div class="space-y-1">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="boby-mat-dense w-full flex-auto">
                                        <mat-label class="font-medium text-primary">Fecha Aplicación</mat-label>
                                        <input
                                            matInput
                                            [matDatepicker]="centroStartDate"
                                            [placeholder]="'Fecha Aplicación'"
                                            [formControlName]="'fecha_ini_cc'">
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="centroStartDate"></mat-datepicker-toggle>
                                        <mat-datepicker #centroStartDate></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="w-full boby-mat-dense flex-auto gt-xs:pr-3 ml-2">
                                        <mat-label class="font-medium text-primary">Fecha Finalización</mat-label>
                                        <input
                                            matInput
                                            [matDatepicker]="centroEndDate"
                                            [placeholder]="'Fecha Finalización'"
                                            [formControlName]="'fecha_fin_cc'">
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="centroEndDate"></mat-datepicker-toggle>
                                        <mat-datepicker #centroEndDate></mat-datepicker>
                                    </mat-form-field>

                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center mt-10 py-4 px-4 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Borrar'"
                            (click)="deleteItem()">
                            Borrar
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancelar'"
                            [routerLink]="['../']">
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="itemForm.invalid"
                            [matTooltip]="'Guardar'"
                            (click)="postItem()">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>

</div>
