<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <erp-headboard [trayName]="'Menu'" [icon]="'menu'" [tray]="'office'" [path]="'../../'"></erp-headboard>

    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Actions -->
        <div class="flex shrink-0 items-end mt-1 sm:mt-0 sm:ml-4">

            <p-toast></p-toast>

            <!-- Search -->
            <mat-form-field class="boby-mat-dense boby-mat-no-subscript boby-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar oficina'">
            </mat-form-field>
            <!-- Add motivo button -->
            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Nueva Oficina'"
                (click)="showNewOfficeDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                <span class="hidden sm:inline-block ml-2">Nuevo</span>
            </button>

            <button
                class="sm:inline-flex ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Exportar Registros'"
                (click)="exporter.exportTable('xlsx', {fileName:'Registros de Oficina'})">
                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>
                <span class="hidden sm:inline-block ml-2">Exportar</span>
            </button>

            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Actualizar'"
                (click)="refreshOficina()">
                <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">
            <table mat-table [dataSource]="dataSource" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]">

                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-32">Acciones</mat-header-cell>
                    <mat-cell (click)="selectedOficina = row" *matCellDef="let row" class="min-w-32" [ngClass]="{ 'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': row === selectedOficina }">
                        <button
                            class="ml-1 -mr-4"
                            mat-icon-button
                            [matMenuTriggerFor]="chatsHeaderMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                            <mat-menu #chatsHeaderMenu>
                                <button mat-menu-item
                                        (click)="executeCommand('editar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    Editar Oficina
                                </button>
                                <button mat-menu-item
                                        (click)="executeCommand('eliminar')">
                                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    Eliminar Oficina
                                </button>
                                <button mat-menu-item [matMenuTriggerFor]="formatos">
                                    <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                                    Exportar Registros
                                </button>
                                <!--[routerLink]="['/system/human-talent/office/', selectedOficina.id_oficina]"-->
                                <button mat-menu-item
                                        [routerLink]="[selectedOficina.id_oficina]">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    Ver Funcionarios
                                </button>
                            </mat-menu>
                        </button>

                        <mat-menu #formatos="matMenu">
                            <button mat-menu-item (click)="exporter.exportTable('xls', {fileName:'Registros de Oficina'})">
                                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>XLS
                            </button>
                            <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName:'Registros de Oficina'})">
                                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_excel'"></mat-icon>XLSX
                            </button>
                            <button mat-menu-item (click)="exporter.exportTable('csv', {fileName:'Registros de Oficina'})">
                                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_csv'"></mat-icon>CSV
                            </button>
                            <button mat-menu-item (click)="exporter.exportTable('txt', {fileName:'Registros de Oficina'})">
                                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file_txt'"></mat-icon>TXT
                            </button>
                            <button mat-menu-item (click)="exporter.exportTable('json', {fileName:'Registros de Oficina'})">
                                <mat-icon class="icon-size-1" [svgIcon]="'iconsmind:file'"></mat-icon>JSON
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let row"
                              class="{{col.width}}"
                              (click)="selectedOficina = row" [ngClass]="{ 'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': row === selectedOficina }">
                        {{['fecha_reg','fecha_mod'].includes(col.field) ? (row[col.field] | date:'d/M/yyyy H:mm') : row[col.field] }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>

    </div>
    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="pagination.length"
        [pageIndex]="pagination.page"
        [pageSize]="7"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[7, 10, 25, 50, 100]"></mat-paginator>


</div>

